.container{
    /* background-color: aquamarine; */
    /* display: flex; */
    /* flex-direction: row; */
    /* border: 1px solid black; */
    text-align: center;
}
.btn-pos{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    flex-direction: column;
}

